* {
  box-sizing: border-box;
}
body,
p {
  margin: 0;
  font-family: sans-serif;
}
/*************/
/**HOME*******/
/*************/
#home {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/spotify-background.jpeg");
  background-size: cover;
  display: flex;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.5);

  align-items: center;
  margin: auto;
}
input {
  margin: auto;
}
input[type="text"] {
  text-align: left;
  width: 15em;
  margin-bottom: 0;
}
input[type="submit"] {
  width: 12em;
  background: rgb(245, 94, 94);
  color: white;
  font-weight: 700;
  padding: 0.3em;
  text-align: center;
  border: none;
  margin-top: 2em;
}
/*************/
/**CARD****/
/*************/
h2 {
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.6em;
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
}
.cards :last-child {
  align-self: flex-start;
}
.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2em;
  min-height: 280px;
}
a.button {
  text-decoration: none;
  width: 10em;
  background: rgb(245, 94, 94);
  color: white;
  text-align: center;
  padding: 0.3em;
  border: none;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 1em;
}
.card div {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: rgb(71, 71, 71);
  color: white;
  align-items: center;
  flex: 1;
}
/*************/
/**TRACKS****/
/*************/
figure {
  display: flex;
}
/*
.custom-player button {
  width: 1.3em;
  height: 1.3em;
}
.playpause.play {
  background-image: url(/images/iconmonstr-media-control-4-240.png);
}
.playpause.pause {
  background-image: url(/images/iconmonstr-media-control-8-240.png);
}
.listen-mute.mute {
  background-image: url(/images/iconmonstr-audio-9-240.png);
}
.listen-mute.listen {
  background-image: url(/images/iconmonstr-audio-5-240.png);
}
figure button {
  background-size: cover;
  background-position: left;
  border: none;
  background-color: white;
} */
table {
  margin: 2em auto;
  border-collapse: collapse;
  min-width: 70%;
}
thead tr {
  background-color: rgb(75, 75, 75);
  color: gray;
}

thead td {
  display: flex;
  padding: 0;
  margin: 0;
}
tbody td {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: rgb(244, 244, 245);
  border-bottom: 3px solid white;
}
.right {
  text-align: right;
  margin-right: 2em;
}
table h1,
table h3 {
  flex: 1;
  margin-left: 1em;
}
/* audio {
  float: right;
} */
